[2017-09-06 20:55] nicholasjackson opened #1 "Replica Updater"
Implement Replica Updater handler

[2017-09-06 20:56] nicholasjackson opened #2 "Function Proxy"
Implement Function Proxy handler

[2017-09-06 20:56] nicholasjackson opened #3 "Replica Handler"
Implement Replica handler

[2017-09-06 20:56] nicholasjackson opened #4 "Delete Handler"
Implement delete handler

[2017-09-06 20:56] nicholasjackson opened #5 "Function Reader"
Implement function reader

[2017-09-06 20:57] nicholasjackson opened #6 "Deploy Handler"
Implement deploy handler

[2017-09-06 20:57] #5 closed

[2017-09-07 09:12] nicholasjackson commented on #6
Basic job submission is complete, will move on to triggering a job to test the plugin

[2017-09-07 10:58] nicholasjackson commented on #2
[ ] Complete Consul Integration
[ ] Integrate load balancing
[ ] Work round for Docker for Mac reporting ip as 127.0.0.1

[2017-09-07 21:51] alexellis opened #7 "Repo title/desc"
Hey guys,

Could the repo Desc be ~~"Open FaaS plugin for Nomad"~~ -> "OpenFaaS plugin for Nomad"?

For website we have a link back to the main repo for Rancher/K8s providers.

[2017-09-10 15:37] #7 closed

[2017-09-12 08:57] nicholasjackson opened #8 "Refactor Reader to use Nomad Jobs API"

[2017-09-13 09:11] #2 closed

[2017-09-13 09:12] #4 closed

[2017-09-13 09:12] #8 closed

[2017-09-13 09:14] nicholasjackson opened #9 "Work round for Docker for Mac reporting ip as 127.0.0.1"
When running Nomad under Docker for mac, the ip address for the function is registered as localhost, while this is fine for calling the function the proxy can not use this address as localhost is local to the container and not the address of the host.

A work around is to use the docker for mac host address docker.for.mac.localhost but this should be switched with an environment variable or anothe

[2017-09-13 09:15] #6 closed

[2017-09-26 07:47] nicholasjackson opened #11 "Additional unit tests for Consul Resolver"
The Consul Resolver which is used by the function proxy to locate service references needs full test coverage.

[2017-09-27 23:13] #9 closed

[2017-09-27 23:13] #3 closed

[2017-09-27 23:13] #1 closed

[2017-09-27 23:13] nicholasjackson opened #12 "Load Tests"
(Thanks for reporting an issue! Please make sure you click the link above to view the issue guidelines, then fill out the blanks below.)

What are the steps to reproduce this issue?
-------------------------------------------
1. …
2. …
3. …

What happens?
-------------
…

What were you expecting to happen?
----------------------------------
…

Any logs, error output, etc?
-------------------------

[2017-11-29 14:57] nicholasjackson opened #17 "Add Constraints for Functions"
Add the capability to control the constraints for functions like CPU/Memory,etc

[2017-11-29 16:30] alexellis commented on #12
+1

[2018-01-05 16:40] #17 closed

[2018-01-10 16:44] nicholasjackson opened #18 "Add constraints"
Add the ability to add a constraint to a function to restrict the architecture for a function:

[code]

In this instance the function would only be deployed to a node running windows

[2018-01-13 08:59] nicholasjackson opened #19 "TLS"
Implement ability to bind nomad provider to a TLS endpoint by providing, key, cert, cert-chain

[2018-01-13 09:01] nicholasjackson opened #20 "Secrets"
Provide capability to store and access secrets for a function using HashiCorp Vault.

This issue is currently blocked by the lack of E2E TLS in OpenFaaS, there is currently an open issue to resolve this.

[2018-01-16 16:58] nicholasjackson opened #24 "Refactor to reduce technical debt"
Before moving forward with new features there are a few code quality issues which should be addressed to keep technical debt to a minimum

https://codeclimate.com/github/hashicorp/faas-nomad

[2018-01-16 17:19] nicholasjackson opened #25 "Move Datacenter to a constraint instead of a label"
Datacenter is currently implemented by setting a label with the stack file, this should be moved to a constraint.

[2018-01-21 13:43] #11 closed

[2018-02-14 13:42] rogerwelin opened #28 "Unexpected status: 502 when deploying function"
What are the steps to reproduce this issue?
-------------------------------------------
1. faas-cli deploy -f ./gofunction.yml

What happens?
-------------
_Deploying: gofunction.

Unexpected status: 502, message:_

No error message is given except the empty message. Hints on how to debug this further would be very welcome

What versions of software are you using?
---------------------------------

[2018-02-14 18:20] nicholasjackson commented on #28
Hey, so the 502 is coming from the Gateway which delegates the deployment to the Nomad provider.  The gateway is returning a 502 because the provider has reported a problem when trying to start the function but it is not returning why.

If you look at the logs for the Nomad provider `docker logs [faas-nomad id] this should give more info, could you also give the latest provider a go v0.2.22.  I kn

[2018-02-14 19:30] alexellis commented on #28
Good luck.. would be curious to find out what's in the log too. Nic we have 0.7.0 of the gateway available now with some performance improvements.

[2018-02-15 10:18] rogerwelin commented on #28
@nicholasjackson thanks for the quick response! I can confirm faas-cli worked with version 0.2.22 of faas-nomad works with gateway 0.6.14. However the log output of nomad logs nomadd only logs the following at startup and then nothing more:

_2018-02-15T10:09:48.594Z [INFO ] nomadd: Using StatsD server:10.48.4.59:9125
2018-02-15T10:09:48.594Z [INFO ] nomadd: Started version: 0.2.22_

[2018-02-15 16:18] nicholasjackson commented on #28
I think it logs the main output to StdErr, glad you got this working, there was an update in the gateway which added support for rolling updates which is super cool.  I had to add a new handler to the Nomad provider.  I will give 0.7.0 a test with the latest provider tonight and if all is well will update the default job files.

[2018-02-22 03:03] cpitkin opened #29 "incorrect tag in faas-nomad image"
When updating faas-nomad Nomad failed to find the correct image from Quay.io

What are the steps to reproduce this issue?
-------------------------------------------
1. Clone faas-nomad repo
2. Run `nomad run faas.hcl`

What happens?
-------------
Nomad logs
[code]

What were you expecting to happen?
----------------------------------
Nomad logs:
[code]

Any other comments?
-------------------
PR

[2018-02-22 10:05] #28 closed

[2018-02-25 18:21] cpitkin opened #31 "Add NATS support"
Add NATS support to allow for async functions.

[2018-02-25 23:10] cpitkin commented on #20
@nicholasjackson Any way we can get this added in the near future. I have a couple really good use cases but I need secrets via Vault. I would totally help write the code to get my Go skills up to par. I definitely need the practice.

[2018-02-27 09:31] nicholasjackson commented on #20
@cpitkin Yes, I have actually been having a think about this, I think the best way is that the secrets are directly added to vault and the nomad provider would just read the secrets from Vault rather than the CLI pushing secrets to to the provider and it writing and reading Vault.  This both should give a more consistent Vault / Nomad workflow.

I will get this added to my schedule and hopefully w

[2018-02-27 10:52] nicholasjackson commented on #31
@cpitkin I have a branch now /nats which adds configurable options for function timeouts which allows values greater than the default of 30s.  This is nearly done will hopefully merge today sometime.

[2018-02-27 10:53] #24 closed

[2018-03-03 18:46] alexellis opened #33 "Mandatory update needed for `availableReplicas`"
(Thanks for reporting an issue! Please make sure you click the link above to view the issue guidelines, then fill out the blanks below.)

Hi Nic,

A mandatory update is needed for OpenFaaS providers to work with the newest changes proposed in the OpenFaaS UI.

A new field: `availableReplicas` will need to be populated in the endpoint `/system/function/<name>`

I found the code here:

https://githu

[2018-03-08 10:17] nicholasjackson commented on #31
@cpitkin this has now been merged to master the new image version is v0.2.23 which accepts a new parameter set:

[code]

You should now be able to set the function timeout as requested.

[2018-03-08 10:17] #31 closed

[2018-03-19 17:24] nicholasjackson commented on #33
Just need to finish debugging the failing tests but this is pretty much good to go

[2018-04-17 16:47] seanlynch opened #37 "Latest faas.hcl doesn't work."
What are the steps to reproduce this issue?
-------------------------------------------
1. check out v0.2.23
2. nomad run nomad_job_files/faas.hcl

What happens?
-------------
Complains about the use of colons combined with "env = true" for nats addresses. Changing the colons to equal signs results in the jobs starting but the gateway just times out repeatedly trying to connect to nats. I see the

[2018-04-18 21:42] alexellis commented on #37
@nicholasjackson when you have time please could you take a look? @cpitkin has had success with this OpenFaaS provider.

[2018-04-20 10:37] nicholasjackson commented on #37
There was a missing attribute from the setup for the Nats cluster OpenFaaS requires the cluster id to be set as `faas-cluster`.  I have updated the config however I have not tested this, I personally don't use the async options of the gateway.

[2018-04-20 10:37] #37 closed

[2018-04-20 12:59] alexellis commented on #20
The CLI only specifies the name of secrets... not the plaintext values.

[2018-04-28 18:08] samaitra opened #38 "OpenFaaS gateway not running using faas.hcl"
What are the steps to reproduce this issue?
-------------------------------------------
1. source ./startNomad.sh
2. nomad run ./nomad_job_files/faas.hcl
3. nomad run ./nomad_job_files/monitoring.hcl
4. faas-cli new gofunction -lang go
5. update gofucntion.yml for the image name
5. faas-cli build -yaml gofunction.yml
6. faas-cli push -yaml gofunction.yml
7. faas-cli deploy -yaml gofunction.yml

Wh

[2018-06-28 20:32] alexellis commented on #33
Thanks, I know you don't actively maintain this project so if you can get to it when you can that would help other potential nomad users.

[2018-07-27 18:44] alexellis commented on #33
Bump

[2018-08-03 10:06] herveleclerc opened #39 "typo in file nomad_job_files/faas.hcl"
(Thanks for reporting an issue! Please make sure you click the link above to view the issue guidelines, then fill out the blanks below.)

What are the steps to reproduce this issue?
-------------------------------------------
1. nomad run -verbose ./nomad_job_files/faas.hcl

What happens?
-------------
faas-nomadd fails with error :

Template: error parsing env template "secrets/gateway.env": erro

[2018-08-05 22:49] alexellis commented on #39
What's the difference between the two?

How far did you get after this change?

[2018-08-23 19:53] acornies commented on #39
This typo affects Nomad's specific template rendering stanza for environment var injection into a container. I've confirmed (Aug 23, 2018) the suggested change properly deploys faas components in a Nomad environment.

[2018-08-30 14:59] acornies opened #40 "Support Docker labels and or annotations for functions"
What are the steps to reproduce this issue?
-------------------------------------------
1. Deploy faas-nomad components in local environment
2. Write a new function, add some arbitrary labels in the {function}.yml
3. Deploy the function with faas-cli, and check the http://{gateway}:8080/system/functions endpoint

What happens?
-------------
Deployed functions do not carry over Docker driver labels

[2018-08-30 15:31] alexellis commented on #40
Hi Andrew, as far as I'm aware Nic is not currently maintaining this provider (or accepting PRs - I have a PR from March) for OpenFaaS on Nomad. The Swarm and Kubernetes providers are up to date with features and fully working. Right now the drift represents more than just labels including lack of readiness checks (easily added, but I don't think this is available).

Alex

[2018-08-30 16:04] acornies commented on #40
Right, saw that... I guess I was hoping for someone to pick up the torch for this provider since I've invested some time in Nomad. If Nic or no one else wants to continue with it, I guess I will.  I'll pull in your PR and make the appropriate updates for my needs.
May I quickly ask how annotations should be implemented?

[2018-09-01 17:13] alexellis commented on #40
Best thing to do if you want to fork and maintain faas-nomad is to sync up with me on OpenFaaS Slack. Join via docs instructions. I’d recommend you use the existing Kubernetes or Swarm backends at this point. You will save a lot of time and effort.

Alex

[2018-09-01 17:25] alexellis commented on #39
@nicholasjackson

[2018-09-01 18:03] acornies commented on #40
Will do.

[2018-09-05 14:35] nicholasjackson commented on #33
This has been all merged with pull request https://github.com/hashicorp/faas-nomad/pull/34

Cheers,

Nic

[2018-09-05 14:35] #33 closed

[2018-09-05 19:43] acornies-tc opened #43 "Local Vagrant environment for portable integration testing"
Since this feature doesn't quite fit the issue template, I'll outline it below:

Provide a portable Vagrant environment via Vagrantfile that can:
- Provision entire Hashicorp stack (Docker, Consul, Nomad, Vault) in a standalone VM
- Run OpenFaaS components using Nomad w/ Docker
- Add debugging launch configuration which connects faas gateway to faas-nomad
- Assume Go development is done on host/wo

[2018-09-05 19:48] acornies commented on #43
This is me ^ forgot to switch accounts when drafting up the issue.

[2018-09-05 20:29] alexellis commented on #43
This would be useful for testing. Do you know if it'd work with KVM on Linux too?

[2018-09-05 20:41] acornies commented on #43
Hi @alexellis, in theory it should be fine with vagrant-libvirt plugin and the libvirt provider (I haven't tried it myself). More info here: https://github.com/vagrant-libvirt/vagrant-libvirt.

I could see adding something like this in the Vagrantfile:
[code]
then to trigger it would be: `vagrant up --provider=libvirt`

[2018-09-06 13:47] nicholasjackson commented on #43
Liking this so far, I have left a couple of comments, I think we can probably make things a little more generic.

[2018-09-10 18:50] nicholasjackson commented on #40
Good work @acornies on this, merged with https://github.com/hashicorp/faas-nomad/pull/45

[2018-09-10 18:50] #40 closed

[2018-09-10 18:50] nicholasjackson commented on #39
Thanks, all merged

[2018-09-10 18:50] #39 closed

[2018-09-12 11:25] acornies opened #47 "Basic auth not implemented (Vault in future)"
What are the steps to reproduce this issue?
-------------------------------------------
1. install faas-cli, trigger `faas-cli login -address ...`
2. trigger a system endpoint

What happens?
-------------
faas-nomad is open internally, no auth strategy

What were you expecting to happen?
----------------------------------
faas-nomad respects basic auth passed in from gateway, and by default basic

[2018-09-14 08:14] cpitkin commented on #25
@nicholasjackson Mind if I try taking this one. It shouldn't be a hard change.

[2018-09-14 16:38] nicholasjackson commented on #47
Thanks Andrew, I have merged this in #46

[2018-09-14 16:38] #47 closed

[2018-09-14 16:39] nicholasjackson commented on #43
Thanks @acornies this is merged in #46

[2018-09-14 16:39] #43 closed

[2018-09-17 06:01] nicholasjackson commented on #20
I have added a first pass at this in the following pull request
https://github.com/hashicorp/faas-nomad/pull/48

Currently this would only support the v1 API, templates have a different form for the v2 api, we could detect this based on the path as v1 would use /secret/mysecret and v2 /secret/data/mysecret

[2018-09-18 22:58] cpitkin commented on #25
@nicholasjackson My thought here is to create a constraints parsing function. Right now its only job will be to iterate over the string slice and find the datacenters attribute. It will take that attribute and pass it to the current createDatabase function. We can then have a starting place for issue #18 to build out the parsing logic.

I am still a little slow on the type system in Go but want to

[2018-09-27 00:39] acornies commented on #20
I've also added #50 to provide a consistent approach to faas-cli usage and yaml declaration of secrets (only secret names, no Vault-style paths since I don't think that translates between providers).
In a future version I can definitely see us supporting v2 and more advanced usage of Vault.

[2018-10-02 14:33] nicholasjackson commented on #20
All merged in v0.3.1

[2018-10-02 14:33] #20 closed

[2018-10-03 17:42] acornies opened #51 "Detect the configured DC from nomad or consul agent"
What are the steps to reproduce this issue?
-------------------------------------------
1. Deploy faas-nomad and gateway using a nomad/consul DC name other than dc1
2. In the gateway UI or faas-cli, deploy a function from the store

What happens?
-------------
The function tries to deploy to DC `dc1` instead of the configured DC from the nomad or consul agent

What were you expecting to happen?
--

[2018-10-03 19:33] acornies opened #52 "Support Consul ACL token"
What are the steps to reproduce this issue?
-------------------------------------------
1. deploy faas-nomad and gateway with consul acls on
2. deploy a function from the store (UI or faas-cli)

What happens?
-------------
If consul acls are on and the anonymous policy limits access to consul, functions cannot be invoked

What were you expecting to happen?
----------------------------------
Functi

[2018-10-04 10:03] nicholasjackson commented on #52
Hey @acornies , I have added this in the branch https://github.com/hashicorp/faas-nomad/tree/add_consul_ACL

I have built a beta image for you to try `0.3.2-beta` to enable ACL add the flag `--consul_acl=token` to the startup command for the provider.

[2018-10-04 14:13] acornies commented on #52
Confirmed working with consul ACLs enabled using 0.3.2-beta

[2018-10-15 18:53] acornies opened #54 "Function secrets need default Vault policy"
What are the steps to reproduce this issue?
-------------------------------------------
1. Use the UI or faas-cli to deploy a function w/ one or more secrets using the Nomad provider

What happens?
-------------
Function is never "ready" due to missing Vault policy in certain Nomad configurations

What were you expecting to happen?
----------------------------------
Functions can be deployed with

[2018-10-15 18:54] nicholasjackson commented on #54
Sorry @acornies just merged your PR, will do a tagged build in 10 mins

[2018-10-15 18:55] #52 closed

[2018-10-16 15:07] acornies commented on #54
Resolved in #53

[2018-10-16 15:07] #54 closed

[2018-11-07 18:33] acornies commented on #51
Resolved in v0.3.3

[2018-11-07 18:33] #51 closed

[2018-11-13 15:52] acornies opened #58 "Support Consul as a DNS server using annotation or label"
What are the steps to reproduce this issue?
-------------------------------------------
1. Deploy a function using the faas-cli w/ Nomad provider
2. Your function has a Consul-style fqdn in it's environment vars
3. Invoke your function

What happens?
-------------
Your function will fail due to the default dns server in the provider while using a consul FQDN

What were you expecting to happen?
---

[2018-11-17 12:51] hxalid opened #59 "Scale up from zero does not work on Nomad"
What are the steps to reproduce this issue?
-------------------------------------------
1.  Provision OpenFaaS on an existing Nomad cluster and set scale_from_zero=true in the OpenFaaS gateway:

[code]

2. Deploy a simple function

[code]

3. What happens?
-------------
echoer starts with 1 replication and after short time scales down to zero. Any subsequent requests returns Function Not Found:

c

[2018-11-18 20:29] hxalid commented on #59
I've found the reason why scaling from zero was not working on Nomad. It was apparently, due to the fact that when **true** is not used as a string in the Nomad manifest as an environment variable value, it is being interpreted as "1" by Nomad. However, OpenFaaS Gateway expects scale_from_zero environment variable as a string of value "true". So, changing scale_from_zero=true to scale_from_zero="t

[2018-11-18 20:29] #59 closed

[2018-11-21 06:53] nicholasjackson commented on #59
Thanks @hxalid The Funciton Not Found message is by design as pending status means that the function can not yet accept requests.  Maybe this needs to be changed from a generic 404 to another status code however I would need to think about how this would work, the function execution is not aware of Nomad status only the Service Catalog and a function is only registered here once healthy.

[2018-11-26 18:17] ryanmickler opened #60 "Limited Ability to use Vault Secrets."
I've been trying to integrate openfaas-nomad into our stack, but a lot of our functions require access to various AWS S3 buckets to read/write data. The problem is that the openfaas-nomad vault integration only can access secrets at `secrets/${secrets_dir}/${secret_name}`. However, for our AWS secrets, we'd need to read secrets at `aws/creds/${secrets_name}`. Can i propose that we include the abil

[2018-11-26 18:31] ryanmickler commented on #60
Thanks for the quick reply. However, after looking through the openfaas-nomad source, i believe that my desired functionality could be accomplished entirely within this repo, without having to modify the core openfaas source.

The only modifications would be to the openfaas function definition yaml, but including the `vault_policy` and `template` strings.

In fact, i believe it could only be done

[2018-11-26 18:44] acornies commented on #60
Hi Ryan, thanks for opening this issue. I think part of what you're asking for is already implemented:
`vault_default_policy` and `vault_secret_path_prefix ` can be overridden. However, there are no function-specific overrides and it does currently expect this template format:

[code]
translates
[code]

My plan was to implement function-specific overrides for this exact purpose, but it would take

[2018-11-26 18:50] ryanmickler commented on #60
hmmm. im not sure how the annotations to a function would work, but it sounds interesting. But you are spot on, a function-specific override of `vault_default_policy `, `vault_secret_path_prefix`, and the template would satisfy my use case. Its just a question of how that would be specified.

[2018-11-26 18:57] acornies commented on #60
My idea was this:
[code]
this would get you what you want using openfaas' standard format for secrets. I'll have to think on how to specific a whole secret template so that it gels nicely with the rest of that faas ecosystem.

[2018-11-26 19:04] ryanmickler commented on #60
Furthermore, for injecting multiple secrets, you'd want at least to have a separate `vault_path_prefix` per secret. And probably have a separate `vault_policy` too, however thats not a critical requirement.

[2018-11-26 19:53] ryanmickler commented on #60
Yeah, however, just for a bit of future proofing, we want to inject two secrets that require separate custom templates. Is there no way to embed the extra data (policy, template) as a child of the ‘secret’ node in the yaml without violating the openfaas standards for secrets, as in my original post? I think using these annotations seems confusing.

[2018-11-26 21:00] ryanmickler commented on #60
I was going to suggest something pretty much identical to this solution. This would meet my use case. Thanks!

[2018-11-26 21:29] ryanmickler commented on #60
So can i suggest just a slight modification to your solution
[code]

The template file will be rendered to `/etc/openfaas/secrets/mysecret`. This seems to be a bit cleaner.

[2018-11-27 17:09] hxalid opened #61 "com.openfaas.scale.max and com.openfaas.scale.min have no impact on the minimum and maximum number of replicas"
(Thanks for reporting an issue! Please make sure you click the link above to view the issue guidelines, then fill out the blanks below.)

What are the steps to reproduce this issue?
-------------------------------------------
1. Deploy OpenFaaS on an existing Nomad cluster
2. Create and deploy a simple function as

[code]

3. Load test using some tools, such as Vegeta, to increase the number of re

[2018-12-06 08:18] nicholasjackson commented on #61
@hxalid I have merged this into master now and built `v0.3.5` this is now available on quay in the registry.

Thank you very much for your work on this issue, it is much appreciated.

[2018-12-06 08:18] #61 closed

[2018-12-06 08:21] nicholasjackson commented on #60
@ryanmickler, I am aware that this has been open for a number of days, really do want to get a resolution for this but don't want to break OpenFaaS standard compatibility.  Will try and see if we can get a proposal into the main core project to support Vault secrets.  @alexellis are you free to chat about this maybe at KubeCon next week?

[2018-12-19 23:46] ryanmickler commented on #60
Thanks for the update. Let me know if i can help.

[2018-12-31 00:07] numkem opened #66 "Gateway return function not found when run through traefik"
What are the steps to reproduce this issue?
-------------------------------------------
1. Deploy using `faas.hcl`
2. Add a function with UI or cli
3. Try to get to the function through the gatway

What happens?
-------------
Yields a 404 `Function not found`

What were you expecting to happen?
----------------------------------
To get results from the function

Any logs, error output, etc?
------

[2018-12-31 19:14] acornies commented on #66
@numkem Can you provide a little info on how you're invoking the functions? Also, can you provide the gateway env vars and fass-nomad cli params?

The way faas-nomad works currently is that it handles the proxying to functions using it's own internal consul resolver using watches.

[2018-12-31 20:57] alexellis commented on #66
+1 I think the Traefik config would help too.

[2019-01-02 15:30] acornies commented on #66
Hmm, I'm not sure this is what you want since all functions should be invoked through the gateway -> faas-nomad. This looks like you're bypassing the gateway/provider altogether (after the function is deployed) and invoking the functions directly using consul FQDNs with traefik. This will break some behaviour with OpenFaaS - namely auto-scaling.

Can you also please post the faas-nomad provider co

[2019-01-04 15:21] numkem commented on #66
I know that using traefik to invoke the function isn't the right way to do it. I was just saying that to show that the function works without problems outside from the gateway issue.

This is the configuration for `faas-nomad`:

          "-nomad_region", "${NOMAD_REGION}",
          "-nomad_addr", "${NOMAD_IP_http}:4646",
          "-consul_addr", "${NOMAD_IP_http}:8500",
          "-statsd_addr"

[2019-01-04 17:04] acornies commented on #66
Right - just want to be clear. Can you also share some info on your consul configuration? Having trouble reproducing this locally.

@nicholasjackson any ideas?

[2019-01-06 02:18] acornies commented on #66
The lookup is by service name (function name) 1:1 mapping.

What you could also try is using the direct_functions feature on the gateway component (you renamed it to faas), like so:
[code]
This should resolve requests using the consul domain (FQDN) you've setup but still collect metrics via watchdog. You also need to set the `dns_servers` nomad/docker option for the gateway container pointing to t

[2019-01-07 19:21] acornies opened #67 "Support of-watchdog http mode (status code)"
What are the steps to reproduce this issue?
-------------------------------------------
1. Build and or deploy a function that uses of-watchdog in the image (tested with powershell-http)
2. Invoke a function that expects a response code other than 200
3. Check the gateway response code

What happens?
-------------
faas-nomad returns the default http response writer status code (200) instead of hon

[2019-01-09 12:58] nicholasjackson commented on #67
Hey @acornies sorry for the delay, just merged all of your PRs and built a new image v0.3.6

Kind regards,

Nic

[2019-01-09 12:58] #67 closed

[2019-01-24 14:33] acornies opened #69 "Implement /system/secrets and use Nomad's configured Vault API"
What are the steps to reproduce this issue?
-------------------------------------------
1. download latest faas-cli ()
2. download latest gateway >= 0.9.14
3. try out faas-cli ~= 0.8.3 using `faas-cli secret ...`

What happens?
-------------
The secret endpoints are not yet supported.

Any other comments?
-------------------
Adding this for tracking. The approach so far is to implement against Vau

[2019-01-24 16:48] alexellis commented on #69
I didn't realize this wasn't implemented yet. I mentioned Nomad being available in the blog post, but given that this provider has fewer users this may be something that goes unnoticed in the interim.

https://www.openfaas.com/blog/unified-secrets/

[2019-01-24 16:52] acornies commented on #69
Working on it...

[2019-01-24 17:35] acornies commented on #69
@nicholasjackson My implementation thus far uses the Nomad agent self config, which contains the Vault info. Ultimately faas-nomad needs a management style Nomad ACL token, which will provide the Vault token that's configured on the Nomad agent. It's very much tied to the permissions Nomad ultimately has.

[2019-01-25 17:12] acornies commented on #69
I'd appreciate some feedback here: https://github.com/acornies/faas-nomad/commit/57bd520b104c896ce19a31c334c64ecfba4f4061 when you get a change. I'll keep going down this road unless I hear otherwise.

[2019-02-06 03:39] #25 closed

[2019-02-11 18:35] acornies commented on #69
Addressed in #70 using Vault approle and secrets v1.

[2019-02-11 18:35] #69 closed

[2019-02-19 08:43] alexesDev commented on #38
I have same issue.

gateway stderr:
[code]

nomadd stderr:
[code]

[2019-02-25 14:27] acornies commented on #38
Hi @alexesDev can you post your configuration for the gateway? What version of nats are you running?

[2019-02-26 20:22] alexesDev commented on #38
@acornies I try to run https://raw.githubusercontent.com/hashicorp/faas-nomad/master/nomad_job_files/faas.hcl from https://www.hashicorp.com/blog/functions-as-a-service-with-nomad

[2019-02-27 22:06] acornies commented on #38
@alexesDev I can't reproduce this using master version of this file. I've noticed that in your logs you have:
[code]
suggesting that `$NOMAD_IP_http` renders as localhost which is derived from the bind interface setting in the agent. When compared to the output from the portable vagrant environment from this repo, I get:
[code]
Can you post me your Nomad agent config?

[2019-03-03 20:55] samaitra commented on #38
I have identified the issue, the original issue is due to incorrect OpenFaas gateway Ip address in gofunction.yml.

To resolve the issue you can run the following command
[code]

The output will look something like below

[code]
provider:
  name: faas
  gateway: http://192.168.1.101:8080
functions:
  gofunction:
    lang: go
    handler: ./gofunction
    image: username/gofunction
[code]

[2019-03-03 20:55] #38 closed

[2019-03-15 01:23] ryanmickler commented on #60
@acornies, sorry i haven't had a chance, and we've been using a local gateway for s3 access without auth as a workaround. I might be able to put one of my team onto it in a few weeks though. Were we happy with my proposed format for the yaml as above?

[2019-03-18 13:57] acornies commented on #60
I think the format above is still valid since we're talking about providing a custom consul-template to the function. Since faas-nomad now supports `faas-cli secret ...` commands, these get submitted to vault using `{secret_prefix}/{policy_name}/mysecret` `{"value": "secretvalue"}`. If you want to use this format above, you'd still have to manage secrets using Vault directly and then reference the

[2019-04-09 21:41] phosphre opened #75 "Local install doesn't start"
(Thanks for reporting an issue! Please make sure you click the link above to view the issue guidelines, then fill out the blanks below.)

What are the steps to reproduce this issue?
-------------------------------------------
1. git clone https://github.com/hashicorp/faas-nomad.git
2. cd faas-nomad
3. ./startNomad.sh (after adding a further grep to the script to ensure my RFC1918 interface is chos

[2019-04-10 02:48] nwong4932 commented on #75
I have same issue

[2019-04-10 07:03] alexellis commented on #75
I'll ping the maintainer.

@acornies

Alex

[2019-04-10 15:11] acornies commented on #75
Thanks for the report. Unfortunately Nomad 0.9 isn't officially supported yet, although it's definitely on my priority list.

The defined `vagrant up` flow in this repo technically doesn't use the `startNomad.sh` script, but the salt directory in provisioning/saltstack/... which provisions Nomad 0.8.6, Consul and Vault w/ Docker.

[2019-04-10 15:30] acornies commented on #75
I should also mention that vagrant flow is designed to locally develop/debug faas-nomad itself, so it assumes you're running vagrant but also running faas-nomad on your local system. I use these settings in vscode + installed Go in conjunction with the vagrant setup:
[code]
If you're just interested in running not developing, using the docker image from quay.io/nicholasjackson/faas-nomad:v0.4.1 al

[2019-04-10 15:43] nwong4932 commented on #75
@acornies I run vagrant up on Windows 10 without local Nomad, have same problem, how can I fix the problem? Thanks!

[2019-04-11 14:38] acornies commented on #75
@nwong4932 can you try pulling latest master? I believe the config data needed to be updated for local vagrant flow to work.

[2019-04-11 16:03] phosphre commented on #75
@acornies, I read the README, but figured it would install openfaas as well as the local hashicorp stack in VMs which was a mistake.  Closing, as I was just gonna look around. In the innarests of dev, I'll downgrade nomad, and install openfaas first, then retry and report back.

[2019-04-11 16:04] phosphre commented on #75
BTW,  [the link on the README to the aws setup is a 404. ](https://github.com/hashicorp/faas-nomad#starting-a-remote-nomad--consul-environment)

[2019-04-11 16:14] acornies commented on #75
@phosphre Let me know how it goes. This repo is a bit of a mess right now and my full-time work is consuming all my energy atm. The plan is to revamp this provider using Nomad 0.9 deps, increase test coverage and make provider configuration simpler.

[2019-04-11 16:31] acornies commented on #75
I use the Vagrantfile + supporting files in `provisioning/...` and simply run `vagrant up` in a portable VM (both virtualbox and vmware fusion supported) which installs Nomad, Consul and Vault and deploys the OpenFaaS components on Nomad. However, if you want to run this provider in the VM as well, just add this example block to this file: `provisioning/saltstack/salt/nomad/files/faas.hcl`

[code]

[2019-04-11 16:38] #75 closed

[2019-04-15 12:14] tuempeltaucher commented on #19
Any plans to implement this? We can't try this because our nomad cluster uses tls.

[2019-04-15 20:43] acornies commented on #19
I can complete this week using the existing method of cli config. Standby

[2019-04-15 20:49] acornies opened #78 "Support HCL/JSON file configuration"
The ever-growing list of configuration parameters as arguments is unsustainable. Therefore, faas-nomad should support HCL/JSON file configuration for the provider with cli overrides for certain things:

`faas-nomad -config-file=faas-nomad.hcl ...`

[2019-04-16 17:43] acornies opened #79 "Update dependencies for Nomad 0.9"
Given the release of Nomad 0.9, this provider should have updated the Nomad GO api dependencies. This is a big task as it basically means a full rewrite of the provider and tests.

[2019-04-17 13:40] acornies commented on #19
@tuempeltaucher I've built quay.io/nicholasjackson/faas-nomad:v0.4.2-beta1 to try out.
It introduces:
[code]

[2019-04-19 10:47] tuempeltaucher commented on #19
@acornies I tried it but I get an error. I'm running nomad 0.8.6.

2019-04-19T10:43:54.070Z [INFO ] nomadd: Using StatsD server:localhost:8125
2019-04-19T10:43:54.071Z [INFO ] nomadd: create nomad client: addr=0xc000120710
2019-04-19T10:43:54.071Z [INFO ] nomadd: Started version: 0.4.2-beta1
panic: interface conversion: interface {} is *errors.errorString, not string

goroutine 1 [running]:
github

[2019-04-20 03:28] acornies commented on #19
@tuempeltaucher Please try out faas-nomad:v0.4.2-beta2. The arguments above should work with the addition of `-enable_nomad_tls=true`

[2019-04-20 04:55] tuempeltaucher commented on #19
Nice work! Thanks. I'll test it more at the beginning of next week.

2019-04-20T04:52:59.977Z [INFO ] nomadd: Using StatsD server:localhost:8125
2019-04-20T04:52:59.978Z [INFO ] nomadd: create nomad client: addr=10.0.1.4:4646
2019-04-20T04:52:59.978Z [INFO ] nomadd: Started version: 0.4.2-beta2
2019-04-20T04:52:59.980Z [ERROR] nomadd: Error returning the agent's datacenter: failed querying self en

[2019-04-20 05:40] tuempeltaucher commented on #19
Maybe for the record, this is how I fixed the certificate error:

args = [
    "-nomad_region", "${NOMAD_REGION}",
    "-nomad_addr", "client.global.nomad:4646",

extra_hosts = [
    "client.global.nomad:${NOMAD_IP_http}"
]

[2019-04-20 06:56] tuempeltaucher commented on #19
Ok, I could wait until next week. I can build, deploy and invoke a openfaas function.

[2019-04-20 12:16] acornies commented on #19
Right, it looks like the issue is with ip sans for the cert chain. Glad to see it's working for you.

[2019-04-20 15:26] acornies commented on #19
Resolved in #80

[2019-04-20 15:26] #19 closed

[2019-05-27 05:29] aramlow opened #81 "Build error "cannot use statsD" in "handlers/proxy.go:148:42""
What are the steps to reproduce this issue?
-------------------------------------------
1. Clone the Git repo with `go get github.com/hashicorp/faas-nomad`
2. run `make build` or `make build_all`

What happens?
-------------
The compile stops with the following error message:
[code]

Any other comments?
-------------------
I'd like to get the build working locally so I can add more constraints to

[2019-05-27 05:39] #81 closed

[2019-09-02 15:32] ypatent opened #84 "Function resolving doesn't use consul dc filtering"
What are the steps to reproduce this issue?
-------------------------------------------
1. … Deploy a function using consul with few different DC's
2. … Try invoking it

What happens?
-------------
The function is not found because its not being searched for in the right DC

Maybe it can be solved by another flag? Ill try building an image with that and see if it helps

[2019-09-03 17:11] acornies commented on #84
@ypatent can you provide a little more information? Maybe trace logs from faas-nomad? Can you tell me a little more about your setup?

[2019-09-04 06:53] ypatent commented on #84
Sure.
The setup here is consul and nomad with 2 dcs (lets say dc1 and dc2).
My deploy runs entirely on dc2.
When i deploy the function, successfully and try to invoke it via the open faas ui, i get 404, with the following error in the logs:

when i try running the same consul api query the code runs, im getting an empty response as well. if i explicitly add "dc=dc2" to the query, i get the result.

[2019-09-04 07:34] ypatent commented on #84
So, i played some more with it, and it looks like its something related to our setup here. Manage to make it work at the end, thanks!

[2019-09-04 07:34] #84 closed

[2019-12-14 15:02] mabuaisha opened #85 "Scaling to zero using the faas-idler"
Hi,

What is the timeline of adding `faas-idler` to faas-nomad? if this is going to take so long, is there a workaround solution for to scale to zero when for inactivity ?

[2019-12-16 15:38] acornies commented on #85
Hi @mabuaisha, thanks for reaching out:
The faas-idler should work with the faas-nomad provider as is since the provider itself only deals with CRUD operations to the containers.
Looking at: https://github.com/openfaas/faas-netes/blob/master/yaml/faas-idler-dep.yml we could port this over to Nomad HCL and since the ideler only needs access to the gateway and provometheus, the gateway will invoke t

[2019-12-16 15:42] mabuaisha commented on #85
@acornies Thanks for reply, Glad to hear that, If I understand you correctly then all requried is try to build a Nomad HCL from https://github.com/openfaas/faas-netes/blob/master/yaml/faas-idler-dep.yml  and deploy it to Nomad cluster and it will be fine

Actually I'm new to Nomad and will try to port this it HCL, but if you could guide me here that would be helpful

[2019-12-16 15:46] acornies commented on #85
Take a look at: https://github.com/acornies/faas-nomad-demos. I have a few HCLs for the OpenFaaS project and this would be a good addition!

[2019-12-16 15:48] mabuaisha commented on #85
@acornies Thanks, sure will take a look there

[2019-12-16 15:49] acornies commented on #78
Currently being worked on here: https://github.com/acornies/faas-nomad-x

[2019-12-28 16:03] acornies commented on #79
Currently being tackled here: https://github.com/acornies/faas-nomad-x

[2020-03-29 19:25] mabuaisha commented on #61
@nicholasjackson I'm facing the same issue here, I'm using this openfaas on centos and it seems the scaling is not working here

[code]

This is the version of openfaas I'm using
[code]

Your help is appreciated on this

[2020-03-29 19:37] mabuaisha commented on #61
Should not be the number of initial replicas set to 3 instead of 1, why the initial replicas is set to 1 instead of 3 ?

[2020-03-30 19:00] mabuaisha opened #89 "Auto Scaling is not working"
What are the steps to reproduce this issue?
-------------------------------------------
1. Deploy OpenFaaS on Nomad cluster
2. Deploy simple NodeJS (V12) function

[code]

The above is the configuration for simple nodejs12 specified as the following

[code]

What happens?
-------------
It never create 3 instances of the function based on the `com.openfaas.scale.min: "3"` and cannot see the auto sc

[2020-07-31 23:24] justinfx opened #90 "Question: Feasible to support volume mounts?"
The request for Openfaas to directly allow volume mount options has been met with resistance (i.e. github.com/openfaas/faas/issues/320). But I wanted to know whether it would be a possibility for this provider plugin to extend access to the Nomad Job group settings in a way that volume and volume mount options could be passed in? Maybe through annotations? I figured if Openfaas wants to remain opi

[2020-08-10 16:43] acornies commented on #90
I think this is a perfectly reasonable feature request and could technically work in a couple of different ways. The official Nomad team has made some updates to volumes in the latest versions with ` host_volume` and csi (beta), so the implementation could make use of these implementations as well.

On a broader note, faas-nomad hasn't seen a lot of usage or support from either OpenFaaS or HashiCo

[2020-08-16 01:56] justinfx commented on #90
Thanks for the reply!
Shame to hear the project isn't widely used. I wouldn't then expect you to invest a bunch of time in this feature unless it is going to benefit others. Although it seems enough people have asked for Openfaas volume mount support that maybe it's worth engaging to see how many openfaas users could consume this feature of it were offered through nomad?

Anyways, I will keep an e

[2020-10-13 14:59] AllanOricil opened #91 "startNomad.sh does not work on Ubuntu 18 running on OpenSUSE"
(Thanks for reporting an issue! Please make sure you click the link above to view the issue guidelines, then fill out the blanks below.)

What are the steps to reproduce this issue?

Just run `source startNomad.sh` and you will see that it is getting the wrong IP address

![image](https://user-images.githubusercontent.com/55927613/95878128-c81e7380-0d6c-11eb-9ad7-cd6e639fcd52.png)

What were you e

[2020-10-13 15:27] AllanOricil opened #92 "There is nothing running on port 8080 after running the job faas.hcl"
What are the steps to reproduce this issue?

1 - Follow the instructions on the setup on a Ubuntu 18 VM on OpenSUSE
2 - After running the job faas.hcl check that there is nothing on port 8080. You can't access through the browser nor with curl or ping.
3 - check with `sudo docker ps` that there is no container mapped to port 8080
4 - check that the port 8080 is not being used by any other process

[2020-10-19 15:00] AllanOricil opened #93 "Is this project abandoned?"

[2020-10-20 18:54] shishir-a412ed opened #94 "Issue in Vagrant up"
What are the steps to reproduce this issue?
-------------------------------------------
1. Vagrant up

What happens?
-------------

[code]

What were you expecting to happen?
----------------------------------
Complete the vagrant setup successfully.

What versions of the software are you using?
----------------------------------------
**Operating System:** …
macOS Catalina v10.15.5

**OpenFaaS Ve

[2020-10-21 19:02] shishir-a412ed commented on #94
@acornies Any pointers on how to debug?

[2020-10-29 13:49] numkem commented on #93
I've been looking myself at serverless functions within Nomad and OpenFaas seems to be the go to. But I'd rather use Nomad than Kubernetes. I hope this is not the case.

[2020-10-29 14:38] acornies commented on #93
Hi folks, as you may have already noticed, I haven't been able to keep this provider up-to-date due to external factors and just life in general. However, I do think this provider technically has a place in the OpenFaaS ecosystem, but it requires additional contributors to make it work well with the latest versions of the OpenFaaS gateway and the faas-provider.

On a more broader note: I find that

[2020-10-29 19:14] masimpkin commented on #94
There seems like it may be an issue with "nomad-formula/nomad/defaults.yaml". It specifies a default directory of "/etc/nomad" instead of "/etc/nomad.d". If you modify "/etc/systemd/system/nomad.service" and execute "systemctl daemon-reload", you can then start nomad with "service nomad start". There are still other issues though.

[2021-01-20 01:36] #94 closed

[2021-03-18 10:58] nicholasjackson commented on #93
I saw this, sorry for the late reply.

I want to publically thank @acornies for all of the amazing work he has done on this project, his contributions to the community are nothing short of fantastic. Andrew is an invaluable member of the HashiCorp community and one of the reasons I love being part of it.

I will archive the repo for the time being.